
@media (max-width: 1400px) {
    .main__videoblock {
        min-height: 420px;
    }
    .main__videoblock-video {
        width: 100%;
    }
}




@media (max-width: 1140px) {
    .header__nav {
        padding: 0 15px;
    }
}

@media (max-width: 1024px) {
    .main__collections-cards{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .main__collections-card:nth-of-type(3){
        margin-top: 15px;
    }
    .header__content-info, .main__videoblock-content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .main__title{
        margin-left: auto;
        margin-right: auto;
    }
    
    .footer{
        padding: 25px 15px;
    }
    
    .main__films-items{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    
}

@media(max-width: 992px){
    .main__films-item:nth-of-type(4){
        margin-top: 15px;
    }
}
@media(max-width: 762px){
    .main__films-item:nth-of-type(3){
        margin-top: 15px;
    }
    .main__series-item:nth-of-type(1) {
        min-height: 450px;
    }
    .main__series-title{
        font-size: 20px;
    }
}

@media(max-width: 698px){
    .main__collections-card:nth-of-type(2){
        margin-top: 15px;
    }
    
    .main__series-item:nth-of-type(1){
        grid-column: span 2;
    }
    
    .header__content-img{
        position: absolute;
        height: 100%;
        
    }
    
    .header__content{
        min-height: 400px;
    }
}

@media(max-width: 616px){
    .header__content-title{
        font-size: 50px;
    }
    .header__content-description{
        max-width: 520px;
    }
    
    .main__videoblock{
        display: flex;
        flex-direction: column;
        
    }
    
    .main__videoblock-content{
        position: static;
    }
    .main__videoblock-video{
        order: 1;
    }
    .main__videoblock-content{
        padding-bottom: 15px;
    }
    .footer__info{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer__info-text{
        margin-top: 15px;
    }
}

@media(max-width: 490px){
    .header__nav-content{
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
    }
    
    .header__content-title{
        font-size: 40px;
    }
    .main__films-item:nth-of-type(2){
        margin-top: 15px;
    }
    .main__videoblock-img{
        width: 100%;
    }
}

@media(max-width: 375px){
    .header__nav-list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__content-title{
        text-align: center;
    }
    .main__series-item:nth-of-type(1) .main__series-title {
        font-size: 35px;
    }
    .footer__info-text {
        text-align: center;
    }
    
    .header__nav-link{
        height: 50px;
    }
    
    .header__content-title{
        line-height: 45px;
    }
}